.title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.input {
  margin-top: 5px;
  padding: 20px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  background-color: rgba(239, 235, 241, 0.883);
  border: 1px solid rgb(125, 19, 196);
  border-radius: 4px;
  outline: none;
  box-shadow: 2px 6px 8px -2px #a09c9c;
  cursor: pointer;
  transition: border 300ms ease-in-out;
  &:focus,
  &:hover {
    border: 2px solid rgb(154, 13, 161);
  }
}
