.form {
  max-width: 480px;
  height: auto;
  padding: 15px;
  border: 1px solid rgb(31, 26, 34);
  border-radius: 4px;
  background-image: linear-gradient(
    120deg,
    rgba(246, 248, 248, 0.6) 0%,
    rgba(74, 75, 77, 0.6) 100%
  );
  text-align: start;
  color: #2a2a2a;
  background-color: rgb(115, 181, 235);
  box-shadow: 2px 6px 8px -2px #1f6ce0;
}

.label {
  display: flex;
  margin-bottom: 35px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  input {
    margin-top: 15px;
    padding: 20px;
    // max-width: 220px;
    height: 30px;
    font-size: 18px;
    background-color: rgba(239, 235, 241, 0.883);
    border: 1px solid rgb(125, 19, 196);
    border-radius: 4px;
    outline: none;
    box-shadow: 2px 6px 8px -2px #a09c9c;
    cursor: pointer;
    transition: border 300ms ease-in-out;
    &:focus,
    &:hover {
      border: 2px solid rgb(154, 13, 161);
    }
  }
}
